body {
  background-color: #f3e8ff;
}

.form-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 25px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(128, 0, 128, 0.2);
}

.preview-box {
  width: 150px;
  height: 150px;
  border: 2px solid #a855f7;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ede9fe;
  overflow: hidden;
}

#preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}